<!DOCTYPE html>
<html>
<head>
    <title>Image Gallery</title>
    <style>
        .gallery {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
        
        .gallery a {
            display: inline-block;
            margin: 10px;
            text-decoration: none;
        }
        
        .gallery img {
            max-width: 100%;
            height: auto;
        }
        
    </style>
</head>
<body>
    <div class="gallery">
        <a href="page1.html">
            <img src="comic.jpg" alt="Image 1">
        </a>
        <a href="page2.html">
            <img src="stars.jpg" alt="Image 2">
        </a>
        <!-- Add more image links as needed -->
    </div>
</body>
</html>
