{% extends 'base.html' %}
{% block start %}
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">About-Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Contact</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  facilities
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">types</a></li>
                  <li><a class="dropdown-item" href="#">more...</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">comments</a></li>
                </ul>
              {% comment %} </li> {% endcomment %}
              {% comment %} <li class="nav-item"> {% endcomment %}
                {% comment %} <a class="nav-link disabled">Disabled</a> {% endcomment %}
              {% comment %} </li> {% endcomment %}
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>

 
      <a href="/contact/">
      Contact
      </a>
      <div>
      <a href="/about/">
        About
        </a>
    <table class="table table-success table-striped-columns">
        <tr>
            <th>S.N</th>
            <th>name</th>
            <th>age</th>
            <th>Can vote</th> <!-- Corrected closing tag -->
        </tr>
        {% for person in people %} <!-- Changed variable name from "people" to "person" -->
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ person.name }}</td>
            <td>{{ person.age }}</td>
            <td>
                {% if person.age >= 20 %}
                🫶
                {% else %}
                ❤️
                {% endif %}
            </td> <!-- Corrected closing tag -->
        </tr>
        {% endfor %}
    </table>
    
{% endblock %} 
